html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  line-height: 1.7;
  font-family: "Klee One", cursive;
}

main {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  main {
    width: 90%;
  }
}
@media (max-width: 480px) {
  main {
    width: 100%;
  }
}

h2 {
  font-size: 80px;
  padding: 0 5%;
  text-shadow: 1px 1px 1px #333;
  color: #fbe5ee;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}
h2:before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 70px;
  background: url(../img/tulip.svg) no-repeat center bottom;
  filter: drop-shadow(1px 1px 1px #333);
}
@media (max-width: 480px) {
  h2:before {
    width: 50px;
    height: 70px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 60px;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
header .g-nav {
  width: 50%;
  height: 100vh;
  padding: 50px 0 0 80px;
  background: url(../img/main.JPG) no-repeat center center/cover;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
header .g-nav:hover {
  background: #b9b9e5;
}
header .g-nav ul.menu li {
  width: auto;
}
header .g-nav ul.menu li a {
  display: block;
  color: #fbe5ee;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-size: 46px;
  font-weight: 600;
}
header .g-nav ul.menu li a:hover {
  text-shadow: 0 0 8px #fff;
  cursor: pointer;
}
@media (max-width: 800px) {
  header .g-nav ul.menu li a {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  header .g-nav ul.menu li a {
    font-size: 24px;
  }
}
header .g-nav ul.menu li:first-of-type {
  display: none;
}
header .g-nav ul.menu li:last-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
header .g-nav ul.menu li:last-of-type a {
  font-size: 22px;
}
@media (max-width: 480px) {
  header .g-nav ul.menu li:last-of-type a {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  header .g-nav {
    padding: 30px 0 0 50px;
  }
}
@media (max-width: 480px) {
  header .g-nav {
    width: 100%;
    position: static;
    height: 60vh;
  }
}
header ul.menu.scroll {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(173, 173, 214, 0.6666666667);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
}
header ul.menu.scroll li {
  margin-right: 30px;
}
header ul.menu.scroll li a {
  line-height: 70px;
  font-size: 28px;
}
@media (max-width: 800px) {
  header ul.menu.scroll li a {
    font-size: 18px;
  }
}
header ul.menu.scroll li:first-of-type {
  display: flex;
}
header ul.menu.scroll li:nth-of-type(4) {
  margin-right: 16px;
}
header ul.menu.scroll li:last-of-type {
  margin-right: 0px;
}
header ul.menu.scroll li:last-of-type a {
  font-size: 18px;
}
@media (max-width: 800px) {
  header ul.menu.scroll li:last-of-type a {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  header ul.menu.scroll li:last-of-type a {
    display: none;
  }
}
@media (max-width: 800px) {
  header ul.menu.scroll li {
    margin-right: 1.5em;
  }
}
@media (max-width: 480px) {
  header ul.menu.scroll {
    padding-left: 1em;
    margin: 0;
  }
}
header .logo {
  width: 50%;
  height: 200vh;
  background: url(../img/main-02.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
}
header .logo h1 {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5%;
  font-size: 42px;
  overflow: hidden;
  color: #fbe5ee;
  text-shadow: 2px 2px 1px #333;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5%;
  letter-spacing: 0.2em;
}
header .logo h1 span {
  display: block;
  transform: translateY(150%);
  animation: text-anime 0.5s 0.5s cubic-bezier(0, 1.02, 0.83, 1) forwards;
}
@media (max-width: 800px) {
  header .logo h1 {
    justify-content: center;
    padding-right: 0;
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  header .logo h1 {
    margin: 6% 0;
  }
}
header .logo .lead {
  writing-mode: vertical-rl;
  margin: 0 auto 8%;
  font-size: 36px;
  letter-spacing: 0.3em;
  animation: text-anime2 1.5s 0.8s forwards;
  opacity: 0;
}
@media (max-width: 800px) {
  header .logo .lead {
    font-size: 28px;
    margin-bottom: 15%;
  }
}
@media (max-width: 480px) {
  header .logo .lead {
    font-size: 24px;
  }
}
header .logo .down {
  text-align: center;
  font-size: 22px;
  color: #aaaaaa;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-shadow: 1px 1px 1px #b9b9e5;
  animation: text-anime3 0.8s 1s linear infinite alternate;
  opacity: 0;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  position: relative;
  bottom: 50px;
}
@media (max-width: 480px) {
  header .logo .down {
    display: none;
  }
}
@media (max-width: 480px) {
  header .logo {
    width: 100%;
    height: 150vh;
  }
}
@keyframes text-anime {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes text-anime2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-anime3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header h1 > span:nth-of-type(2) {
  animation-delay: 0.6s;
}
header h1 > span:nth-of-type(3) {
  animation-delay: 0.7s;
}
header h1 > span:nth-of-type(4) {
  animation-delay: 0.8s;
}
header h1 > span:nth-of-type(5) {
  animation-delay: 0.9s;
}
header h1 > span:nth-of-type(6) {
  animation-delay: 1s;
}
header h1 > span:nth-of-type(7) {
  animation-delay: 1.1s;
}
header h1 > span:nth-of-type(8) {
  animation-delay: 1.2s;
}
header h1 > span:nth-of-type(9) {
  animation-delay: 1.3s;
}
@media (max-width: 480px) {
  header {
    flex-direction: column-reverse;
  }
}

.introduce-wrapper {
  width: 100%;
  height: auto;
  padding: 5%;
  background: url(../img/roses.jpg) no-repeat right bottom/cover;
}
.introduce-wrapper h2 {
  padding: 30px 30px 40px;
}
@media (max-width: 800px) {
  .introduce-wrapper h2 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .introduce-wrapper h2 {
    padding: 30px 0;
    font-size: 50px;
  }
}
.introduce-wrapper .introduce {
  margin-bottom: 100px;
}
.introduce-wrapper .introduce .text-wrapper {
  width: 70%;
  padding: 0 24px;
  margin: 0 0 0 5%;
}
.introduce-wrapper .introduce .text-wrapper h3 {
  font-size: 30px;
  margin-bottom: 1em;
}
.introduce-wrapper .introduce .text-wrapper h3 .sp {
  display: none;
}
@media (max-width: 480px) {
  .introduce-wrapper .introduce .text-wrapper h3 .sp {
    display: block;
  }
}
@media (max-width: 800px) {
  .introduce-wrapper .introduce .text-wrapper h3 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .introduce-wrapper .introduce .text-wrapper h3 {
    text-align: center;
  }
}
.introduce-wrapper .introduce .text-wrapper .text1, .introduce-wrapper .introduce .text-wrapper .text2 {
  line-height: 2;
  font-size: 18px;
  overflow-wrap: break-word;
}
.introduce-wrapper .introduce .text-wrapper .text1 span, .introduce-wrapper .introduce .text-wrapper .text2 span {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline 1.5px solid #333;
}
@media (max-width: 800px) {
  .introduce-wrapper .introduce .text-wrapper .text1, .introduce-wrapper .introduce .text-wrapper .text2 {
    font-size: 16px;
  }
}
.introduce-wrapper .introduce .text-wrapper .text1 {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .introduce-wrapper .introduce .text-wrapper {
    aspect-ratio: 2/1;
    padding: 0 24px 24px;
  }
}
@media (max-width: 800px) {
  .introduce-wrapper .introduce .text-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 800px) {
  .introduce-wrapper {
    margin: 0;
  }
}

#timeline {
  width: 100%;
  background-color: #0E0527;
  display: flex;
  margin: 0 auto 100px;
  font-family: "Sawarabi Gothic", sans-serif;
}
#timeline:hover .tl-item {
  width: 20%;
}
@media (max-width: 480px) {
  #timeline:hover .tl-item {
    width: 100% !important;
  }
}
#timeline .tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 20%;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
#timeline .tl-item:before, #timeline .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#timeline .tl-item:before {
  background: linear-gradient(to bottom, rgba(14, 5, 39, 0.0666666667) 0%, rgba(14, 5, 39, 0.9333333333) 50%, #0E0527 100%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
#timeline .tl-item:hover {
  width: 40% !important;
}
#timeline .tl-item:hover:after {
  opacity: 0;
}
#timeline .tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
#timeline .tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
#timeline .tl-item:hover .tl-bg {
  filter: grayscale(0);
}
@media (max-width: 480px) {
  #timeline .tl-item:hover {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  #timeline .tl-item {
    height: 150vh;
  }
}
@media (max-width: 480px) {
  #timeline .tl-item {
    width: 100%;
    height: 90vh;
  }
}
#timeline .tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 30%;
  opacity: 0;
}
#timeline .tl-content h5 {
  width: 25%;
  aspect-ratio: 1/1;
  margin: 0 auto 30px;
}
#timeline .tl-content h5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  #timeline .tl-content h5 {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  #timeline .tl-content h5 {
    width: 60px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  #timeline .tl-content p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  #timeline .tl-content p {
    padding: 5%;
  }
}
@media (max-width: 480px) {
  #timeline .tl-content {
    width: 100%;
    top: 30%;
    left: -20px;
  }
}
#timeline .tl-year {
  width: 100%;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  text-align: center;
}
#timeline .tl-year p {
  font-size: 22px;
  line-height: 0;
  color: #fbe5ee;
  font-weight: bold;
  text-shadow: 1px 1px 0 #333;
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  #timeline .tl-year p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  #timeline .tl-year p {
    margin-bottom: 2em;
  }
}
@media (max-width: 800px) {
  #timeline .tl-year {
    top: 20%;
  }
}
#timeline .tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(20%);
}
#timeline .tl-bg img {
  object-fit: cover;
  object-position: 30% 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  #timeline {
    display: block;
  }
}

.skill-wrapper {
  width: 100%;
}
.skill-wrapper .skills h2 {
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .skill-wrapper .skills h2 {
    text-align: center;
  }
}
.skill-wrapper .skills .skill-box {
  display: flex;
  flex-wrap: wrap;
}
.skill-wrapper .skills .skill-box .box {
  width: 50%;
}
.skill-wrapper .skills .skill-box .box:first-of-type, .skill-wrapper .skills .skill-box .box:last-of-type {
  border: 10px solid #fbe5ee;
}
.skill-wrapper .skills .skill-box .box:nth-of-type(2), .skill-wrapper .skills .skill-box .box:nth-of-type(3) {
  border: 10px solid #b9b9e5;
}
.skill-wrapper .skills .skill-box .box:nth-of-type(2) .resize {
  padding: 10px;
}
.skill-wrapper .skills .skill-box .box .box-inner h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 2em 0 1em;
}
.skill-wrapper .skills .skill-box .box .box-inner h4 .sp {
  display: none;
}
@media (max-width: 480px) {
  .skill-wrapper .skills .skill-box .box .box-inner h4 .sp {
    display: block;
  }
}
@media (max-width: 800px) {
  .skill-wrapper .skills .skill-box .box .box-inner h4 {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .skill-wrapper .skills .skill-box .box .box-inner h4 {
    padding: 1em 0;
  }
}
.skill-wrapper .skills .skill-box .box .box-inner .icon-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.skill-wrapper .skills .skill-box .box .box-inner .icon-box .icon {
  width: 100px;
  height: 100px;
}
@media (max-width: 800px) {
  .skill-wrapper .skills .skill-box .box .box-inner .icon-box .icon {
    width: 80px;
    height: 80px;
  }
}
.skill-wrapper .skills .skill-box .box .box-inner .icon-box .icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.skill-wrapper .skills .skill-box .box .skill-text-wrapper {
  padding: 5%;
}
.skill-wrapper .skills .skill-box .box .skill-text-wrapper .skill-text {
  font-size: 18px;
}
@media (max-width: 480px) {
  .skill-wrapper .skills .skill-box .box .skill-text-wrapper .skill-text {
    font-size: 16px;
  }
}
.skill-wrapper .skills .skill-box .box .skill-text-wrapper .others .icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 2em 0;
}
.skill-wrapper .skills .skill-box .box .skill-text-wrapper .others .icons .icon:last-of-type img {
  padding: 10px;
}
.skill-wrapper .skills .skill-box .box .skill-text-wrapper .others .icons .icon {
  width: 100px;
  height: 100px;
}
.skill-wrapper .skills .skill-box .box .skill-text-wrapper .others .icons .icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .skill-wrapper .skills .skill-box .box .skill-text-wrapper {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .skill-wrapper .skills .skill-box .box {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .skill-wrapper .skills .skill-box {
    display: block;
  }
}
@media (max-width: 800px) {
  .skill-wrapper {
    margin-bottom: 100px;
  }
}

.works {
  padding: 5%;
}
.works h2 {
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .works h2 {
    text-align: center;
  }
}
.works .points {
  background: linear-gradient(#fbe5ee 0%, #fff 55%, #b9b9e5 100%);
  padding: 3%;
  color: #333;
  margin-bottom: 100px;
}
.works .points h4 {
  font-size: 26px;
  margin: 0 0 1em 1em;
}
.works .points h4::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/point.svg) no-repeat center bottom/20px;
}
@media (max-width: 480px) {
  .works .points h4 {
    font-size: 22px;
    margin: 0 0 1em 0;
  }
}
.works .points .points-inner {
  display: flex;
  justify-content: space-between;
}
.works .points .points-inner ul {
  width: 35%;
  padding: 1%;
}
.works .points .points-inner ul li {
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 800px) {
  .works .points .points-inner ul li {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .works .points .points-inner ul {
    width: 80%;
    margin: 0 auto 30px;
  }
}
.works .points .points-inner .reason {
  width: 65%;
  line-height: 2;
  font-size: 18px;
}
.works .points .points-inner .reason img {
  width: 50px;
  margin-right: 0.5em;
}
@media (max-width: 800px) {
  .works .points .points-inner .reason img {
    width: 40px;
  }
}
@media (max-width: 800px) {
  .works .points .points-inner .reason {
    line-height: 1.7;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .works .points .points-inner .reason {
    width: 90%;
    margin: 0 auto 30px;
  }
}
@media (max-width: 480px) {
  .works .points .points-inner {
    display: block;
  }
}
@media (max-width: 480px) {
  .works .points {
    width: 95%;
    padding: 5%;
    margin: 0 auto 70px;
  }
}
.works h3 {
  font-size: 60px;
  padding: 30px;
  text-shadow: 1px 1px 1px #333;
  color: #fbe5ee;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
}
@media (max-width: 800px) {
  .works h3 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .works h3 {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .works {
    padding: 0;
  }
}

.site-wrapper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  font-family: "Sawarabi Gothic", sans-serif;
}
.site-wrapper .site {
  width: calc((100% - 50px) / 2);
  background-color: #fbe5ee;
  padding: 20px;
}
.site-wrapper .site.main {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
@media (max-width: 480px) {
  .site-wrapper .site.main {
    width: 100%;
    margin: 0 auto 50px;
  }
}
.site-wrapper .site .photo {
  aspect-ratio: 2/1.25;
  margin-bottom: 20px;
}
.site-wrapper .site h4 {
  width: fit-content;
  font-size: 42px;
  margin: 0 auto 20px;
  position: relative;
  display: block;
  background: linear-gradient(90deg, #b8751e 0%, #ffce08 37%, #fefeb2 50%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(1px 0px 0px #555);
}
.site-wrapper .site .site-description {
  margin-bottom: 2em;
  text-align: center;
}
.site-wrapper .site .site-description span {
  font-weight: bold;
  font-size: 22px;
}
.site-wrapper .site .btn-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.site-wrapper .site .btn-wrapper .btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-bottom: 1em;
  padding: 10px;
  color: #333;
  text-align: center;
  background: #fff;
  box-shadow: 4px 4px 2px #888;
  border-radius: 50px;
  position: relative;
  top: -4px;
  left: -4px;
  transition: 0.2s;
}
.site-wrapper .site .btn-wrapper .btn:hover {
  box-shadow: 1px 1px 2px #888;
  color: #333;
  position: relative;
  top: 0;
  left: 0;
}
.site-wrapper .site .site-info {
  color: #222;
  padding: 0 7%;
  margin-bottom: 1em;
}
.site-wrapper .site .site-info .sp {
  display: none;
}
@media (max-width: 800px) {
  .site-wrapper .site .site-info .sp {
    display: block;
  }
}
@media (max-width: 480px) {
  .site-wrapper .site .site-info {
    width: 100%;
    margin-bottom: 50px;
  }
}
.site-wrapper .site .tool-list {
  padding: 0 10%;
  list-style: disc;
}
@media (max-width: 480px) {
  .site-wrapper .site {
    width: 100%;
    margin-bottom: 50px;
  }
  .site-wrapper .site:last-of-type h4 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .site-wrapper {
    display: block;
  }
}

.banner {
  margin-bottom: 100px;
}
.banner h3 {
  color: #fbe5ee;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
}
.banner .banner-wrapper {
  color: #333;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-family: "Sawarabi Gothic", sans-serif;
}
.banner .banner-wrapper .img-box {
  width: calc((100% - 60px) / 4);
  aspect-ratio: 1/1.5;
  background-color: #fff;
}
.banner .banner-wrapper .img-box:nth-of-type(5), .banner .banner-wrapper .img-box:nth-of-type(6), .banner .banner-wrapper .img-box:nth-of-type(7), .banner .banner-wrapper .img-box:nth-of-type(8) {
  aspect-ratio: 1/1;
}
.banner .banner-wrapper .img-box:last-of-type {
  position: relative;
}
.banner .banner-wrapper .img-box .pc {
  width: 100%;
  aspect-ratio: 1.2/1;
  transition: 0.2s;
}
.banner .banner-wrapper .img-box .pc:hover {
  transform: scale(1.03);
}
.banner .banner-wrapper .img-box .pc a {
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .img-box .pc a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .img-box .sp {
  width: 100%;
  aspect-ratio: 3.2/1;
  transition: 0.2s;
}
.banner .banner-wrapper .img-box .sp:hover {
  transform: scale(1.03);
}
.banner .banner-wrapper .img-box .sp a {
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .img-box .sp a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .img-box .calendar a {
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .img-box .calendar a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .img-box .dl {
  display: block;
  width: fit-content;
  padding: 0 1em;
  height: 3em;
  position: absolute;
  top: -60%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 2px 2px 2px #333;
}
.banner .banner-wrapper .img-box .dl:hover {
  text-decoration: underline 1.5px solid #333;
}
.banner .banner-wrapper .img-box .dl .dl-btn {
  display: block;
  color: #333;
}
.banner .banner-wrapper .img-box .banner-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 14px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.banner .banner-wrapper .img-box .banner-info dt {
  width: 50%;
  margin-bottom: 10px;
}
.banner .banner-wrapper .img-box .banner-info dd {
  width: 40%;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .banner .banner-wrapper .img-box .banner-info {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .banner .banner-wrapper .img-box {
    width: calc((100% - 20px) / 2);
    aspect-ratio: 1/1.5;
  }
}

.animation h3 {
  font-size: 60px;
  padding: 30px;
  text-shadow: 1px 1px 1px #333;
  font-family: "Raleway", sans-serif;
  color: #fbe5ee;
}
@media (max-width: 480px) {
  .animation h3 {
    font-size: 48px;
  }
}
.animation .codepen-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
}
.animation .codepen-wrapper .codepen-box {
  width: calc((100% - 50px) / 2);
}
.animation .codepen-wrapper .codepen-box .codepen {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.animation .codepen-wrapper .codepen-box h4 {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 24px;
  margin-bottom: 0.3em;
  padding-left: 0.5em;
  color: #333;
}
.animation .codepen-wrapper .codepen-box .codepen {
  width: 100%;
  height: auto;
}
@media (max-width: 800px) {
  .animation .codepen-wrapper .codepen-box {
    width: 100%;
  }
}
.animation .codepen-wrapper .codepen-box:nth-of-type(1), .animation .codepen-wrapper .codepen-box:nth-of-type(2) {
  margin-bottom: 70px;
}
@media (max-width: 800px) {
  .animation .codepen-wrapper .codepen-box:nth-of-type(3) {
    margin-bottom: 70px;
  }
}

footer {
  width: 100%;
  height: 400px;
  background: url(../img/footer.jpg) no-repeat center top -100px/cover;
}
@media (max-width: 480px) {
  footer {
    height: 300px;
    background: url(../img/footer.jpg) no-repeat center top/cover;
  }
}

.typewriter {
  width: 80%;
  font-family: Courier, monospace;
  padding-top: 50px;
  margin: 0 auto;
}
.typewriter .typewriter-text {
  display: inline-block;
  overflow: hidden;
  animation: typing 10s steps(60, end), blink 0.5s step-end infinite;
  white-space: nowrap;
  font-size: 20px;
  border-right: 2px solid #fbe5ee;
  color: #fbe5ee;
  font-weight: bold;
}
.typewriter .typewriter-text .sp {
  display: none;
}
@media (max-width: 480px) {
  .typewriter .typewriter-text .sp {
    display: block;
  }
}
@media (max-width: 800px) {
  .typewriter .typewriter-text {
    padding-left: 50px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .typewriter .typewriter-text {
    padding-left: 20px;
  }
}
@media (max-width: 800px) {
  .typewriter {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fbe5ee;
  }
}
.site {
  color: #333;
  font-family: "Klee One", cursive;
}

#organic-oils header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(247, 69, 12, 0.8), rgba(255, 169, 18, 0.8) 28%, rgba(238, 255, 102, 0.8) 64%, rgba(51, 247, 35, 0.8));
  backdrop-filter: blur(4px);
  margin-bottom: 100px;
  padding: 0 3%;
  font-family: "Raleway", sans-serif;
}
#organic-oils header h1 {
  color: #fff;
  filter: drop-shadow(1px 0px 0px #333333);
  letter-spacing: 0.05em;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}
#organic-oils header h1 span {
  font-family: "Great Vibes", cursive;
}
#organic-oils header .link {
  display: block;
  width: 200px;
  border-radius: 40px;
  box-shadow: 2px 2px 4px #888;
}
#organic-oils header .link a {
  padding: 10px 30px;
  letter-spacing: 0.3em;
  filter: drop-shadow(1px 1px 0px #333);
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  transition: 0.3s;
}
#organic-oils header .link a:hover {
  transform: scale(1.1);
}
#organic-oils .site-description {
  margin-bottom: 50px;
}
#organic-oils .site-top {
  width: 95%;
  margin: 0 auto;
}
#organic-oils .site-top .photo {
  width: 100%;
  height: auto;
}
#organic-oils .site-top .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#organic-oils .info-wrapper {
  width: 100%;
  padding: 5%;
  line-height: 1.7;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#organic-oils .info-wrapper .site-info-01 {
  width: 60%;
  box-shadow: 0 0 6px #888;
  padding: 3%;
}
#organic-oils .info-wrapper .site-info-01 .requirement span {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #86674F;
  margin-right: 0.4em;
}
#organic-oils .info-wrapper .site-info-02 {
  width: 40%;
  margin: 0 auto;
  padding: 3%;
  box-shadow: 0 0 4px #888;
}
#organic-oils .info-wrapper .site-info-02 p {
  margin-bottom: 2em;
}
#organic-oils .info-wrapper .site-info-02 .site-description {
  margin-bottom: 30px;
}
#organic-oils .memo-wrapper {
  width: 95%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
}
#organic-oils .memo-wrapper h4 {
  font-size: 24px;
  margin-bottom: 1em;
}
#organic-oils .memo-wrapper li {
  margin-bottom: 0.5em;
}
#organic-oils .memo-wrapper .memo-01 {
  padding: 3%;
  box-shadow: 0 0 6px #888;
}
#organic-oils .memo-wrapper .memo-02 {
  padding: 3%;
  box-shadow: 0 0 6px #888;
}
#organic-oils .thoughts {
  width: 80%;
  padding: 5%;
  margin: 0 auto 100px;
  box-shadow: 0 0 6px #888;
}
#organic-oils .thoughts h4 {
  font-size: 24px;
  margin-bottom: 1em;
}
#organic-oils .thoughts p {
  line-height: 2;
}
#organic-oils .content-wrapper {
  width: 95%;
  display: flex;
  gap: 30px;
  margin: 0 auto 100px;
}
#organic-oils .content-wrapper .content-01 {
  width: 20%;
}
#organic-oils .content-wrapper .content-01 .sp-site {
  width: 100%;
}
#organic-oils .content-wrapper .content-01 .sp-site h3 {
  font-size: 30px;
  margin-bottom: 1em;
  padding-left: 1em;
}
#organic-oils .content-wrapper .content-01 .sp-site p {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
#organic-oils .content-wrapper .content-01 .sp-site p::-webkit-scrollbar {
  width: 10px;
}
#organic-oils .content-wrapper .content-01 .sp-site p::-webkit-scrollbar-track {
  background-image: linear-gradient(rgba(247, 69, 12, 0.8), rgba(255, 169, 18, 0.8) 28%, rgba(238, 255, 102, 0.8) 64%, rgba(51, 247, 35, 0.8));
}
#organic-oils .content-wrapper .content-01 .sp-site p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6666666667);
}
#organic-oils .content-wrapper .content-02 {
  width: 80%;
}
#organic-oils .content-wrapper .content-02 .pc-site {
  width: 100%;
  margin-bottom: 100px;
}
#organic-oils .content-wrapper .content-02 .pc-site h3 {
  font-size: 30px;
  margin-bottom: 1em;
  padding-left: 1em;
}
#organic-oils .content-wrapper .content-02 .pc-site ul {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 30px;
}
#organic-oils .content-wrapper .content-02 .pc-site ul li {
  width: calc((100% - 60px) / 3);
  height: 100vh;
}
#organic-oils .content-wrapper .content-02 .pc-site ul li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#organic-oils .link-btn {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #f7450c, #ffa912 28%, #eeff66 64%, #33f723);
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#organic-oils .link-btn a {
  display: block;
  padding: 16px;
}/*# sourceMappingURL=style.css.map */